.landing-page-logo {
  padding-left: 60vh;
}

.enter-button {
  padding-left: 95vh;
}

.btn-btn-light {
  font-family: arimo;
  font-weight: bold;
}

body {
  font-family: 'Arimo', sans-serif;
  padding: 20px;
}

.links-to-sites {
  display: flex;
  justify-content: space-around;
}
