:root {
  --blue: #222E50;
  --green: #134611;
  --grey: #877666;
  --yellow: #EFEA5A;
  --pink: #A53860;
}

h1 {
  color: var(--yellow);
}

.landing-page {
  display: flex;               /* Enables Flexbox on the container */
  justify-content: center;     /* Centres the logo horizontally */
  align-items: center;         /* Centres the logo vertically */
  height: 100vh;               /* Full viewport height for vertical centering */
  flex-direction: column;
}

.landing-page img {
  max-width: 100%;             /* Makes the logo responsive */
  height: auto;                /* Maintains the aspect ratio */
}

@media (max-width: 768px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }
}

/* .enter-button {
  padding-left: 95vh;
} */

.btn-btn-light {
  font-family: arimo;
  font-weight: bold;
}

body {
  font-family: 'Arimo', sans-serif;
  padding: 50px;
  background-color: var(--grey);
}

.links-to-sites {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--grey);
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--yellow);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: var(--grey);
}

.page-title {
  display: flex;
  justify-content: center;
}
